
    .Newmovie_Main{
    height: 100%;
   
    width: 100%;
   margin-top: 10%;
}

.Margin_comingsoon{
    height: 50%;
    width: 88%;
    display: grid;
    background: rgb(7, 6, 6);
    margin: 2% 0% 0% 5% ;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 100%;

    column-gap: 20px;

}

.Margin_new{
    height: 45%;
    width: 88%;
    display: grid;
    margin: 5% 0% 0% 5% ;
    grid-template-columns: repeat(4,24%);
    grid-template-rows: 100%;

    column-gap: 2%;
}